@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS variables for themes, which Tailwind can then use via its config */
/* Light Theme */
:root {
  --background-light: #f0f2f5; /* Fondo general más suave */
  --text-light: #2c3e50; /* Texto oscuro */
  --card-background-light: #ffffff;
  --border-light: #e0e6ed;
  --primary-dark-blue: #1c2b3e; /* Azul oscuro para header/footer y algunos títulos */

  /* Colores vibrantes y gradientes */
  --gradient-start-platzi: #2c3e50; /* Azul oscuro */
  --gradient-end-platzi: #4CAF50; /* Verde brillante */
  --accent-green-platzi: #4CAF50; /* Verde principal para CTA */
  --accent-blue-platzi: #2196F3; /* Azul para algunos acentos */
  --hover-platzi: #388E3C; /* Verde más oscuro al hover */

  --footer-text-light: #a0a0a0; /* Gris claro para footer */
  --heading-color: var(--primary-dark-blue); /* Color de títulos en tema claro */
  --courses-section-bg: #e8ecef; /* Un gris muy claro para diferenciarla del fondo principal */
}

/* Dark Theme */
[data-theme="dark"] {
  --background-light: #121212;
  --text-light: #e0e0e0;
  --card-background-light: #2a2a2a;
  --border-light: #333;
  --primary-dark-blue: #0f0f0f;

  --gradient-start-platzi: #0f0f0f;
  --gradient-end-platzi: #388E3C;
  --accent-green-platzi: #66BB6A;
  --accent-blue-platzi: #64B5F6;
  --hover-platzi: #5cb85c;

  --footer-text-light: #777;
  --heading-color: #e0e0e0;
  --courses-section-bg: #1a1a1a; /* Un gris oscuro para la sección de cursos */
}

html {
  height: 100%; /* Asegura que html ocupe el 100% de la altura del viewport */
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-background-light text-text-light pt-[45px]; /* Aplica clases de Tailwind, padding-top para el header fijo */
  height: 100%; /* Asegura que body ocupe el 100% de la altura de html */
  display: flex; /* Habilita flexbox */
  flex-direction: column; /* Apila los hijos verticalmente */
}

/* Base styles for container */
.container {
  @apply max-w-screen-xl mx-auto px-4;
}

.hero-full-height {
  min-height: 100vh;          /* Ocupar toda la altura del viewport */
  padding-top: 0;
  padding-bottom: 0;
  background-color: red !important;
}

/* Font Awesome for icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Google Fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
